@import '../public/css/bootstrap.min.css';
@import '../public/css/simple-line-icons.css';
@import '../public/css/slick.css';
@import '../public/css/style.css';
@import '../public/css/all.min.css';

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ul {
    margin: 0;
}
ul li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgb(156, 157, 160);
    border-radius: 30px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #ffa387 0%, #fe4f70 51%, #ffa387 100%);
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 15%);
    border-radius: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.c-black {
    color: #000 !important;
    margin-left: 10px !important;
}

.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.w40 {
    width: 80px !important;
    height: 40px !important;
}
.w40 span {
    width: 40px !important;
    height: 40px !important;
    position: relative !important;
}
.w40 div {
    width: 70px !important;
    height: 50px !important;
    position: relative !important;
}

.w40 div img {
    width: 50px !important;
    height: 50px !important;
}

.w-auto-40 {
    width: 40px;
    height: 10px;
}
.w-auto-40 span {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 40px !important;
    height: 10px !important;
    position: relative !important;
}

.w-auto-40 img {
    width: 40px !important;
    height: 10px !important;
    object-fit: cover !important;
}
.imgCover {
    object-fit: cover !important;
}
.w100 {
    width: 100%;
    height: 250px;
    border-radius: 15px !important;
}

.w100 img {
    width: 100% !important;
    height: 250px !important;
    object-fit: cover !important;
}

.affix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 2px 12px #00000041;
    z-index: 98;
}

.ProseMirror > * + * {
    margin-top: 0.75em;
}

.ProseMirror ul,
ol {
    padding: 0 1rem;
}

.ProseMirror h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
}

pre {
    font-family: 'JetBrainsMono', monospace;
    min-height: 200px;
    background: #1e2128;
    color: #a1a7b6;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

pre code {
    width: 100%;
    min-height: 200px;
    color: inherit;
    font-size: 0.8rem;
}

.ProseMirror img {
    max-width: 100%;
    height: auto;
}

.ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
}
.ProseMirror hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
}

.is-active {
    box-shadow: 0 2px 14px #fe4f70;
}
.menus-editor {
    border: 1px dashed #616161;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
}
.editor-text-changer .ProseMirror {
    min-height: 200px;
    border-radius: 8px;
    padding: 10px;
    border: 1px dashed #616161;
}
.btn-editor-tip {
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    border: 1px solid #616161;
    background-color: none;
    color: #000;
    font-weight: bold;
    margin-right: 12px;
    margin-bottom: 12px;
}

.ant-carousel .slick-dots-bottom {
    bottom: 65px !important;
}

.author-picture {
    width: 70px !important;
    height: 50px !important;
}

.author-picture div {
    width: 70px !important;
    height: 50px !important;
}

.author-picture div img {
    width: 50px !important;
    height: 50px !important;
}
._1checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
._1checkbox_round {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 5px;
    margin-left: 0;
    margin-right: 7px;
    border-radius: 50%;
    border: 1px solid #d0d0d0;
    background: #fff;
    user-select: none;
}
._1checkbox_actived {
    background: #388ae5;
    border-color: #388ae5;
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 5px;
    margin-left: 0;
    margin-right: 7px;
    border-radius: 50%;
    border: 1px solid #d0d0d0;
    user-select: none;
}

/* .text-content {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-bottom: 24px;
}

.text-content::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 56%;
  height: 41px;
  background: #ffffff;
} */

.padding-10 {
  padding: 0 10px;
}

.border50 {
    border-radius: 50% !important;
}

.post-head {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
}

.cursorp {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    /* .post-head {
        flex-direction: column;
    } */
    .w100 img {
        width: 370px !important;
        height: 200px !important;
        object-fit: cover !important;
    }
    .slick-dots-bottom {
        display: none !important;
    }
}
